<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизованный пользователь</title>
</head>
<body>
<link rel="stylesheet" href="/assets/less/gn_editor_georchestra.less">
<link rel="stylesheet" href="/assets/less/gn_admin_georchestra.less">
<link rel="stylesheet" href="/assets/less/gn_infolist_georchestra.less">
<link rel="stylesheet" href="/assets/less/gn_login_georchestra.less">
<link rel="stylesheet" href="/assets/less/gn_variables_georchestra.less">
<link rel="stylesheet" href="/assets/less/gn_search_georchestra.less">


<form action="#" th:action="@{/logout}" method="post">
    <button class="btn btn-sm btn-primary btn-block" type="submit">logout</button>
</form>
<h1>Национальный геопортал</h1>
<h2>Авторизованный пользователь</h2>
<div>
    <div class="links-geo" id="links-geo">
        <div data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
            <div class="link-geo">
                <a href="http://172.31.6.145:8081/geonetwork" target="blank">
                    <img src="/assets/images/catalog.png" alt="catalog-logo">
                    <h2>Catalog</h2>
                </a>
                <a href="http://172.31.6.145:8081/mapstore" target="blank">
                    <img src="/assets/images/Frame.png" alt="geoportal-logo">
                    <h2>Geoportal</h2>
                </a>
                <a data-ng-show="user.isUserAdminOrMore()"
                   href="http://172.31.6.145:8084/geoserver/web/" target="blank">
                    <img src="/assets/images/geoserver.png" alt="geoserver-logo">
                    <h2>GeoServer</h2>
                </a>
            </div>
        </div>
    </div>
</div>
<form action="http://localhost:8081/account/detail">
    <input type="submit" value="личный кабинет" />
</form>
<form action="http://localhost:8081/shop">
    <input type="submit" value="магазин" />
</form>
<div>
</body>
</html>